# Dependências
node_modules/
.next/
out/
build/

# Binários (Não enviar .exe para o GitHub)
backend/*.exe
backend/ffmpeg.zip
backend/ffmpeg_temp/

# Arquivos Sensíveis e Configurações
.env
backend/.env
backend/cookies.json
*.log

# Outros
.DS_Store
.vscode/
